<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Task List</h4>
  </div>
  <div class="card-body table-responsive">

    <table [dataSource]="dataSource" mat-table>
      <ng-container matColumnDef='color'>
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let task;"
            [style.background-color]="getPriorityColor(task)"
            mat-cell
            class="column_color"></td>
      </ng-container>

      <ng-container matColumnDef='id'>
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let index = index;"
            mat-cell
            class="column_id"> {{ index + 1 }} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell>Title</th>
        <td *matCellDef="let task"
            [class.completed]="task.completed"
            mat-cell
            class="column_title"> {{task.title}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell>Date</th>
        <td *matCellDef="let task"
            [ngClass]="{'completed': task.completed, 'nodate': task.date == null}"
            mat-cell
            class="column_date"> {{task.date | date: "medium"}} </td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th *matHeaderCellDef mat-header-cell>Priority</th>
        <td *matCellDef="let task"
            [ngClass]="{'completed': task.completed, 'nopriority': task.priority == null}"
            mat-cell
            class="column_priority"> {{task.priority ? task.priority.title : "Lack of priority"}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell>Category</th>
        <td *matCellDef="let task"
            [ngClass]="{'completed': task.completed, 'nocategory': task.category == null, 'link': !task.completed && task.category}"
            mat-cell
            class="column_category"> {{task.category ? task.category.title : "No category"}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns;" mat-header-row></tr>

      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    </table>
    <!-- <table class="table table-hover">
      <thead class="text-warning">
        <th>#</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Category</th>
        <th>Date</th>
        <th>Completed</th>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; let i = index;" [class.completed]= "task.completed">
          <td>{{ i + 1 }}</td>
          <td>{{ task.title }}</td>
          <td [class.novalue]="task.priority == null">{{ task.priority?.title ? task.priority?.title : 'Lack of priority' }}</td>
          <td [class.novalue]="task.category == null">{{ task.category?.title ? task.category?.title : 'No category' }}</td>
          <td [class.novalue]="task.date == null">{{ task.date ? (task.date | date : 'medium') : 'No date' }}</td>
          <td>
            <div class="form-check">
              <label class="form-check-label">
                <input
                [checked]= "task.completed === true"
                class="form-check-input"
                type="checkbox"
                value=""
                (click)="toggleTaskCompleted(task)"
                >
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>