<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Task List</h4>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
        <th>#</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Category</th>
        <th>Date</th>
        <th>Completed</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of tasks; let i = index;">
          <td>{{ i + 1 }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.priority?.title ? item.priority?.title : 'Lack of priority' }}</td>
          <td>{{ item.category?.title ? item.category?.title : 'No category' }}</td>
          <td>{{ item.date ? (item.date | date : 'medium') : 'No date' }}</td>
          <td>{{ item.completed }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>